{% extends "base.html" %}

{% block title %}Members of the House{% endblock %}
{% block content %}
<div class="well well-small">
<div class="page-header">
<div class="col-lg-1">
</div>
  <h1>42 Coffee Cups Test Assignment <small>Home Page</small></h1>
</div>
</div>

<div class="container">
	<div class="form-horizontal form-group row">
		<div class="col-lg-2">
			<!--Sidebar content-->
			<ul class="list-unstyled">
				{% if user.is_authenticated %}
				<li><span class="glyphicon glyphicon-user"></span><a href="{% url 'logout' %}"> <strong>Logout</strong></a></li>
				{% else %}
				<li><span class="glyphicon glyphicon-user"></span><a href="{% url 'login' %}"> <strong>Login</strong></a></li>
				{% endif %}
				<li><span class="glyphicon glyphicon-list-alt"></span><a href="{% url 'request' %}"> Requests Content</a></li>
			</ul>
			<!--Sidebar content-->
		</div>
		<div class="col-lg-10">
			<!--Body content-->
			<table class="table table-striped">
				<caption><h3> Members of the House </h3></caption>
				<thead>
					<tr>
						<th><center>Main</center></th>
						<th><center>Biography</center></th>
					</tr>
				</thead>
				<tbody>
					{% for sir in object_list %}
					<tr>
						<td>
							<div class="row">
								<div class="col-lg-12">
									<div class="thumbnail right-caption col-lg-12">
										{% if sir.photo %}
										<img src="{{ sir.photo.url }}" class="img-thumbnail">
										{% else %}
										<img src="" class="img-thumbnail" alt="140&#215;140" >
										{% endif %}
										<div class="caption">
											<h4>{{ sir.name }} {{ sir.surname }} </h4>
											<p><h5> {{ sir.date_birth }} </h5></p>
											<p><h5> {{ sir.contact }} </h5></p>
											<p><a class="btn btn-primary btn-small btn-custom" href="/edit/{{ sir.pk }}"><span class="glyphicon glyphicon-edit"></span> Edit Sir`s Data</a></p>
										</div>
									</div>
								</div>
							</div>
						</td>
						<td>{{ sir.bio }}</td>
					</tr>
					{% empty %}
					<p>No people</p>
					{% endfor %}
				</tbody>
			</table>
			<!--Body content-->
		</div>
	</div>
</div>

{% endblock %}
