{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Requests Content{% endblock title %}

{% block content %}
<div class="well well-small">
<div class="page-header">
<div class="col-lg-1">
</div>
  <h1>42 Coffee Cups Test Assignment <small>Requests Page</small></h1>
</div>
</div>
<div class="container">
	<div class="form-horizontal form-group row">
		<div class="col-lg-2">
			<!--Sidebar content-->
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-home"></span><a href="{% url 'home' %}"> Home</a></li>
			</ul>
			<!--Sidebar content-->
		</div>
		<div class="col-lg-10">
			<!--Body content-->
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Method</th>
						<th>Url</th>
						<th>Status Code</th>
						<th>Date&#38;Time</th>
					</tr>
				</thead>
				<tbody>
					{% for request in object_list %}
					<tr>
						<td>{{ request.method }}</td>
						<td>{{ request.path }}</td>
						<td>{{ request.status_code }}</td>
						<td>{{ request.date }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<p>
				<button type="button" class="btn btn-default btn-small" onclick="javascript:history.go(-1);">Return to previous page</button>
				</p>
				<!--Body content-->
			</div>
		</div>
	</div>
	{% endblock content %}
